/* POLICE */

@font-face 
{
    font-family: 'Raleway' ;
    src: url('Docs/Raleway_Font/static/Raleway-Medium.ttf') format('truetype');
}

html
{
    font-family: Raleway, sans-serif;
}



/* decorations generales */

body
{
    margin: 0px;
}

a
{
    text-decoration: none;
    color: black;
}

aside a:visited , header nav a:visited
{
    color: black;
}

img
{
    object-fit: cover;
}


/* ETOILES */

.BLEU
{
    color: #0065FC;
    font-size: 0.8em;
}

.GRIS
{
    color: #F2F2F2;
    font-size: 0.8em;
}

.etoiles
{
    display: flex;
    flex-direction: row;
}

.etoiles p
{
    margin: 2px;
}



/* EN-TETE */
    /* logo */
#LOGO
{
    width: 100px;
    margin: 15px 0px 20px 15px;
}
    /* s'inscrire */
#inscription
{
    position: absolute;
    top: 35px;
    right: 10px;
    margin-bottom: 20px;
    color: #0065FC;
    font-weight: bold;
    width: 100px;
}

    /* navigation */
header nav
{
    display: flex;
    flex-wrap: wrap;
}

header nav a
{
    width: 50%;
}

#navha1 , #navha2
{
    border-bottom: solid 3px #F2F2F2;
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#navha1:hover , #navha2:hover
{
    border-bottom: solid 3px #0065FC;
    color: #0065FC;
}



/* RECHERCHE */

header section h1
{
    padding: 10px 0px 0px 20px;
    font-size: 1.4em;
}

header section p
{
    padding-left: 20px;
}

header ul
{
    list-style-type: none;
}

    /* icones */
    
#MMA
{
    height: 15px;
    width: 15px;
    background-color: #F2F2F2 ;
    padding: 15px;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    justify-content: center;
}

#LOUPE
{
    height: 15px;
    width: 15px;
    color: white;
    padding: 15px;
    border-radius: 12px;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
}

#TXT
{
    display: none;
}


    /* barre de recherche */

#BARECH
{
    border: #F2F2F2 1px solid ;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 20px 0px 20px;
}

#BARECH div
{
    margin: 0px;
}

#INTFORM
{
    font-weight: bolder;
    font-size: larger;
    margin-left: 10px;
    color: black;
    border: none;
    width: 100%;
    height: 95%;
}

#entree
{
    width: 70%;
}



/* FILTRES */

header h4
{
    margin-left: 20px;
}

header ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}

header li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: auto;
    border: solid #d9d9d9 2px ;
    border-radius: 25px;
    margin: 0px 0px 15px 20px ;
}

header li:hover
{
    background-color: #DEEBFF;
}

header li span
{
    color: #0065FC ;
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header li p
{
    padding: 0px 10px 0px 10px ;
    font-weight: bold ;
}



/* INFO */

#INFO
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    margin: 0px 0px 20px 20px;
}

#INFO i
{
    color: #0065FC;
    border: solid #F2F2F2 2px;
    border-radius: 25px;
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

#INFO span
{
    margin: 5px 0px 0px 10px;
}


/* POPULAIRES */

#POPET
{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px 0px 20px;
}

#POPET i
{
    font-size: 1.8em;
    padding-top: 20px;
}

#POP
{
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

#POP article
{
    background-color: white;
    border-radius: 20px;
    margin: 0px 10px 10px 10px;
}

#POP article a
{
    display: flex;
    flex-direction: row;
    height: 150px;
}

#POP article .etoiles
{
    position: absolute;
    bottom: 12px;
    left: 12px;
}

#POP article img
{
    width: 134px;
    height: 94%;
    border-radius: 20px 0px 0px 20px;
    margin: 5px;
}

#POP .description
{
    height: 100%;
    position: relative;
    padding-left: 15px;
}



/* HEBERGEMENTS */


#HEB h2
{
    margin: 30px 0px 20px 20px;
}

#HEB a img
{
    height: 125px;
    width: 97%;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

#HEB article
{
    height: 220px;
    margin: 0px 20px 15px 20px ;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 15px 2px #d9d9d9;
}

#vignheb .description
{
    padding-left: 15px;
}

#vignheb div h4 , #vignheb div p
{
    margin: 5px 3px 5px 0px;
}

#AFF
{
    padding: 10px 0px 0px 20px;
}



/* ACTIVITES */

#ACT h2
{
    margin: 45px 20px 20px 25px ;
}

#ACT article
{
    height: 170px;
    margin: 0px 20px 20px 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 15px 2px #d9d9d9;
}

#ACT a img
{
    height: 115px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

#ACT h4
{
    margin: 12px 0px 0px 20px;
}

#ACT
{
    padding-bottom: 25px;
}



/* PIED DE PAGE */

footer
{
    background-color: #F2F2F2;
}

footer div
{
    padding: 20px 0px 0px 30px;
}