/* POLICE */

@font-face 
{
    font-family: 'Raleway' ;
    src: url('Docs/Raleway_Font/static/Raleway-Medium.ttf') format('truetype');
}

html
{
    font-family: Raleway, sans-serif;
}



/* decorations generales */

body
{
    margin: 0px;
}

a
{
    text-decoration: none;
    color: black;
}

aside a:visited , header nav a:visited
{
    color: black;
}

img
{
    object-fit: cover;
}


/* ETOILES */

#BLEU
{
    color: #0065FC;
    font-size: 0.8em;
}

#GRIS
{
    color: #F2F2F2;
    font-size: 0.8em;
}



/* EN-TETE */
header
{
    padding-left: 50px;
}
    /*logo*/
#LOGO
{
    width: 100px;
    margin: 45px 0px 20px 15px;
}
    /* s'inscrire */
#inscription
{
    color: #0065FC;
    font-weight: bold;
    order: 2;
    display: flex;
    align-items: center;
}

    /* navigation */
header nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    right: 100px;
    width: 525px;
    font-size: 1.2em;
}

#navha
{
    border-top: solid 3px #F2F2F2;
    height: 155px;
    width: 35%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#navha:hover
{
    border-top: solid 3px #0065FC;
    color: #0065FC;
}



/* RECHERCHE */

header section h1
{
    padding: 10px 0px 0px 20px;
    font-size: 1.4em;
}

header section p
{
    padding-left: 20px;
}

header ul
{
    list-style-type: none;
}

    /* icones */

#MMA
{
    height: 15px;
    width: 15px;
    background-color: #F2F2F2 ;
    padding: 15px;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    justify-content: center;
}

#LOUPE
{
    height: 15px;
}

#ICL
{
    display: none;
}

#TXT
{
    background-color: #0065FC;
    width: 100px;
    color: white;
    font-weight: bolder;
    margin: 0px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 0px 12px 12px 0px;
}


    /* barre de recherche */

#BARECH
{
    border: #F2F2F2 1px solid ;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20px 0px 20px;
    width: 445px;
}

#BARECH div
{
    margin: 0px;
}

#INTFORM
{
    font-weight: bolder;
    font-size: larger;
    margin-left: 10px;
    color: black;
    border: none;
    width: 100%;
    height: 95%;
}

#entree
{
    width: 280px;
}



/* FILTRES */

#filtres
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: 1.2em;
}

header h4
{
    margin: 35px 0px 0px 20px;
}

header ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}

header li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: auto;
    border: solid #d9d9d9 2px ;
    border-radius: 25px;
    margin: 0px 0px 15px 30px ;
}

header li:hover
{
    background-color: #DEEBFF;
}

header li span
{
    color: #0065FC ;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header li p
{
    padding: 0px 20px 0px 15px ;
    font-weight: bold ;
}



/* INFO */

#INFO
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    margin: 0px 0px 20px 20px;
}

#INFO i
{
    color: #0065FC;
    border: solid #F2F2F2 2px;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

#INFO span
{
    margin: 5px 0px 20px 10px;
}

/* POP & HEB */

#POPHEB
{
    display: flex;
    flex-direction: row-reverse;
}


/* POPULAIRES */

#POPET
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
}

#POPET i
{
    font-size: 1.8em;
    padding-top: 20px;
}

#POP
{
    background-color: #F2F2F2;
    padding-bottom: 20px;
    margin: 0px 60px 0px 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%;
    border-radius: 25px;
    align-items: center;
}

#POP article
{
    background-color: white;
    border-radius: 20px;
    width: 80%;
    margin: 0px 10px 10px 10px;
}

#POP article a
{
    display: flex;
    flex-direction: row;
    height: 165px;
}

#POP article img
{
    width: 134px;
    height: 94%;
    border-radius: 20px 0px 0px 20px;
    margin: 5px;
}

#POP article h4 , #POP article p
{
    margin: 12px 0px 0px 12px ;
}

#POP article div
{
    height: 100%;
    position: relative;
}

#POP article span
{
    position: absolute;
    bottom: 12px;
    left: 12px;
}



/* HEBERGEMENTS */


#HEB
{
    background-color: #F2F2F2;
    margin-left: 60px;
    border-radius: 25px;
    padding: 30px;
}

#HEB h2
{
    margin: 20px 0px 20px 20px;
}

#HEB a img
{
    height: 125px;
    width: 97%;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

#HEB article
{
    height: 220px;
    width: 31%;
    margin: 0px 10px 10px 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 15px 2px #d9d9d9;
}

#vignheb
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#vignheb div h4 , #vignheb div p , #vignheb div span
{
    margin: 0px 0px 8px 15px;
}

#AFF
{
    padding: 10px 0px 0px 20px;
}



/* ACTIVITES */

#ACT h2
{
    margin: 45px 20px 20px 70px ;
    width: 100%;
}

#ACT div
{
    width: 20%;
}

#ACT article
{
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 15px 2px #d9d9d9;
    margin: 0px 0px 20px 0px;
}

#PACT
{
    height: 190px;
}

#GACT
{
    height: 400px;
    width: 20%;
}

#ACT a img
{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

#PACT a img
{
    height: 135px;
}

#GACT a img
{
    height: 335px;
}

#ACT h4
{
    margin: 12px 0px 0px 20px;
}

#ACT
{
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}


/* PIED DE PAGE */

footer
{
    background-color: #F2F2F2;
    font-size: 1.2em;
}

#pied
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    padding: 30px 0px 30px 70px;
}